.breadcrumbs-list {
    gap: 0 20px;
    display: flex;
}

.breadcrumbs-item a,
.breadcrumbs-item span {
    font-size: 25px;
    font-weight: 500;
}

.breadcrumbs-item span {
    color: #8A8A8A;
}

.breadcrumbs-separator {
    border: 1px solid #000;
}