<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шукшина Анастасия Эдуардовна</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="app">
        <aside class="sidebar">
            <div class="sidebar-inner">
                <div class="sidebar-top">
                    <a href="#" class="logo">
                        <img src="assets/icons/logo.svg" alt="logo">
                    </a>
                    <div class="sidebar-nav">
                        <div class="sidebar-nav_group">
                            <button class="sideba-nav_button active">
                                Компания
                                <svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1.31995L4.1579 4.31995L7 1.31995" stroke="#242934" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </button>
                            <ul class="sidebar-nav_list">
                                <li class="sidebar-nav_item">
                                    <a href="#">Сотрудники</a>
                                </li>
                                <li class="sidebar-nav_item">
                                    <a href="#">Запросы</a>
                                </li>
                                <li class="sidebar-nav_item">
                                    <a href="#">Опросы</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-nav_group">
                            <button class="sideba-nav_button">
                                Подбор персонала
                                <svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1.31995L4.1579 4.31995L7 1.31995" stroke="#242934" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </button>
                            <ul class="sidebar-nav_list">
                                <li class="sidebar-nav_item">
                                    <a href="#">Вакансии</a>
                                </li>
                                <li class="sidebar-nav_item">
                                    <a href="#">Набор на практику</a>
                                </li>
                                <li class="sidebar-nav_item">
                                    <a href="#">Кандидаты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sidebar-bottom">
                    <a href="#" class="button">Перейти на Astru</a>
                </div>
            </div>
        </aside>
        <header class="header">
            <div class="header-inner">
                <button>
                    <img src="./assets/icons/button.svg" alt="header-button">
                </button>
                <div class="header-right">
                    <button>
                        <img src="./assets/icons/notify.svg" alt="notify">
                    </button>
                    <div class="header-profile"></div>
                </div>
            </div>
        </header>
        <div class="page-inner">
            <nav class="page-nav">
                <button class="back-to">
                    <svg width="42" height="15" viewBox="0 0 42 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.792893 8.20711C0.402369 7.81658 0.402369 7.18342 0.792893 6.79289L7.15685 0.428932C7.54738 0.0384079 8.18054 0.0384079 8.57107 0.428932C8.96159 0.819456 8.96159 1.45262 8.57107 1.84315L2.91421 7.5L8.57107 13.1569C8.96159 13.5474 8.96159 14.1805 8.57107 14.5711C8.18054 14.9616 7.54738 14.9616 7.15685 14.5711L0.792893 8.20711ZM41.5 8.5H1.5V6.5H41.5V8.5Z"
                            fill="#242934" />
                    </svg>
                </button>
                <ol class="breadcrumbs-list">
                    <li class="breadcrumbs-item">
                        <span>Текущие сотрудники</span>
                    </li>
                    <li class="breadcrumbs-separator"></li>
                    <li class="breadcrumbs-item">
                        <a href="#">Шукшина Анастасия</a>
                    </li>
                </ol>
            </nav>
            <div class="page-content">
                <div class="staff-profile_left">
                    <div class="staff-basic_info">
                        <div class="staff-profile_avatar"></div>
                        <div class="staff-profile_info">
                            <span class="staff-profile_name">Шукшина Анастасия Эдуардовна</span>
                            <span class="staff-profile_status">UX/UI дизайнер</span>
                        </div>
                    </div>
                    <div class="staff-basic_info">
                        <div class="staff-profile_title">Контакты</div>
                        <ul class="profile-info_list">
                            <li class="profile-info_item">
                                <span class="profile-info_title">Номер телефона:</span>
                                <span class="profile-info_value">+7 (912) 345 - 67 - 89</span>
                            </li>
                            <li class="profile-info_item">
                                <span class="profile-info_title">Telegram:</span>
                                <span class="profile-info_value">@teg</span>
                            </li>
                            <li class="profile-info_item">
                                <span class="profile-info_title">Почта:</span>
                                <span class="profile-info_value">pochta@mail.ru</span>
                            </li>
                        </ul>
                    </div>
                    <div class="staff-basic_info">
                        <div class="staff-profile_title">О сотруднике</div>
                        <ul class="profile-info_list">
                            <li class="profile-info_item">
                                <span class="profile-info_title">Дата рождения:</span>
                                <span class="profile-info_value">4 августа 2002 г.</span>
                            </li>
                            <li class="profile-info_item">
                                <span class="profile-info_title">Домашний адрес:</span>
                                <span class="profile-info_value">г. Екатеринбург, ул. Бахчиванджи</span>
                            </li>
                            <li class="profile-info_item">
                                <span class="profile-info_title">Дата начала работы:</span>
                                <span class="profile-info_value">19 июня 2024 г. (9 месяцев)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="staff-basic_info">
                        <div class="staff-profile_title">Ключевые навыки</div>
                        <ul class="key-skills_list">
                            <li class="key-skills_item">
                                Деловая коммуникация
                            </li>
                            <li class="key-skills_item">
                                Проектный менеджмент
                            </li>
                            <li class="key-skills_item">
                                Планирование
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="staff-profile_right">
                    <ul class="staff-profile_tabs">
                        <li class="tab-item active">
                            Комментарии
                        </li>
                        <li class="tab-separator"></li>
                        <li class="tab-item">
                            История
                        </li>
                    </ul>
                    <div class="staff-profile_tab-conetent">
                        <form class="form-comment">
                            <div class="comment-textarea">
                                <textarea name="comment" placeholder="Новый комментарий..."></textarea>
                                <button type="button"><img src="./assets//icons/smile.svg" alt="smile"></button>
                            </div>
                            <div class="comment-form_footer">
                                <div class="comment-form_control">
                                    <button><img src="./assets/icons/add_file.svg" alt="add_file"></button>
                                    <button><img src="./assets/icons/add_pic.svg" alt="add_pic"></button>
                                </div>
                                <button class="button" type="submit">Опубликовать</button>
                            </div>
                        </form>
                        <div class="comment-lists">
                            <div class="comment-item">
                                <div class="comment-item_top">
                                    <div class="comment-profile">
                                        <div class="comment-avatar"></div>
                                        <div class="comment-profile_info">
                                            <span class="comment-profile_name">Шукшина Анастасия</span>
                                            <span class="comment-publication">
                                                написала комментарий 31 марта 2024 13:40
                                            </span>
                                        </div>
                                    </div>
                                    <div class="comment-controls">
                                        <button><img src="./assets/icons/edit.svg" alt="edit"></button>
                                        <button><img src="./assets/icons/delete.svg" alt="delete"></button>
                                    </div>
                                </div>
                                <div class="comment-descr">
                                    Текст комментария. Это большой комментарий. Тут много разных замечаний,
                                    предположений,
                                    представим, что тут действительного много этого. На него нужно обратить внимание.
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="comment-item_top">
                                    <div class="comment-profile">
                                        <div class="comment-avatar"></div>
                                        <div class="comment-profile_info">
                                            <span class="comment-profile_name">Шукшина Анастасия</span>
                                            <span class="comment-publication">
                                                написала комментарий 31 марта 2024 13:40
                                            </span>
                                        </div>
                                    </div>
                                    <div class="comment-controls">
                                        <button><img src="./assets/icons/edit.svg" alt="edit"></button>
                                        <button><img src="./assets/icons/delete.svg" alt="delete"></button>
                                    </div>
                                </div>
                                <div class="comment-descr">
                                    Текст комментария. Это большой комментарий. Тут много разных замечаний,
                                    предположений,
                                    представим, что тут действительного много этого. На него нужно обратить внимание.
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="comment-item_top">
                                    <div class="comment-profile">
                                        <div class="comment-avatar"></div>
                                        <div class="comment-profile_info">
                                            <span class="comment-profile_name">Шукшина Анастасия</span>
                                            <span class="comment-publication">
                                                написала комментарий 31 марта 2024 13:40
                                            </span>
                                        </div>
                                    </div>
                                    <div class="comment-controls">
                                        <button><img src="./assets/icons/edit.svg" alt="edit"></button>
                                        <button><img src="./assets/icons/delete.svg" alt="delete"></button>
                                    </div>
                                </div>
                                <div class="comment-descr">
                                    Текст комментария. Это большой комментарий. Тут много разных замечаний,
                                    предположений,
                                    представим, что тут действительного много этого. На него нужно обратить внимание.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>